@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main" class="container">
    <div class="starter-template">
        <div>
            <h1>Welcome to BlueZoneNet Application</h1>
            <hr>
            <h3>A <em>Hexagonal Architecture</em> implementation example</h3>
            <br>
            <h4>BlueZoneNet allows you to pay remotely <em>for parking your car</em> at regulated zones in the city</h4>
        </div>
    </div>
</main>